services:
  pdf-engine:
    image: gotenberg/gotenberg:8
    restart: unless-stopped

  certificates:
    build: .
    restart: unless-stopped
    depends_on:
      - pdf-engine
    ports:
      - 3002
    environment:
      GOTENBERG_ENDPOINT: http://pdf-engine:3000
      MYSQL_URI: ${MYSQL_URI}
      PORT: 3002
